.headerSmall {
  display: block;
  margin-top: 15px;
  margin-right: 14px;
  margin-left: 14px;
}
@media screen and (max-width: 1030px) {
  .search {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media screen and (max-width: 1015px) {
  .left {
    margin: 0;
    padding: 0;
    width: 30px !important;
    margin-top: 8px;
  }
  .rightDiv1 {
    font-size: small;
  }
  .header {
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
  }
  .middle {
    padding: 0;
  }
  .search {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media screen and (max-width: 745px) {
  .header {
    display: none;
  }
  .headerSmall {
    display: flex;
    cursor: pointer;
  }
  .headerSmall p,
  .headerSmall label {
    margin: 0 !important;
  }
  .left {
    margin-top: 8px;
  }
}
/* header 2 */
.nav-link:hover {
  border-bottom-color: lightgray !important;
  opacity: 1 !important;
}

.border1 {
  border-bottom: 2px solid black !important;
}

.hiden {
  display: none;
}

.filter_hover:hover {
  background-color: white !important;
}

.Switch {
  width: 4rem !important;
  height: 2.5rem !important;
}

#duttomR2 {
  display: none;
}

.filterProprty:hover {
  background-color: white !important;
  border-color: black !important;
  color: black !important;
}

@media screen and (max-width: 1024px) {
  #duttomR1 {
    font-size: 70% !important;
  }

  #duttomR3 {
    width: 4 !important;
    height: 4 !important;
  }

  #duttomR {
    width: 12% !important;
  }
}

@media screen and (max-width: 769px) {
  #duttomR {
    width: 16% !important;
  }
}

@media screen and (max-width: 730px) {
  #subheader {
    width: 80% !important;
  }

  #subheader2 {
    flex-direction: column;
    border: 0 !important;
  }

  #subheader3 {
    border: 0 !important;
    padding-left: 0 !important;
  }

  #duttomR1 {
    display: none;
  }

  #duttomR2 {
    display: block !important;
    font-size: 70% !important;
    padding-right: 10%;
  }

  #duttomR3 {
    width: 4 !important;
    height: 4 !important;
  }

  #duttomR {
    width: 23% !important;
  }

  #buttonFilters {
    display: none !important;
  }

  #breav {
    display: none !important;
  }

  #next {
    display: none !important;
  }
}
/* end header 2 */
/* carousel */
.carousel-item {
  margin-left: 0 !important;
}
.carousel-control-prev {
  left: 0 !important;
}
.carousel-control-next {
  right: 0 !important;
}
/* caroursel */


